.wrapper {
  height: 80vh;
}

.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  transition: 2.4s;
}

body {
  margin: 0;
  background: #ffffff;
}

* {
 font-family: Source Sans Pro,sans-serif;
  color: #222;
}

h1 {
  position: sticky;
  position: -webkit-sticky;
  top: 200px;
  font-family: Source Sans Pro,sans-serif;
  font-size: 4vw;
  color: #001E43;
  text-align: center;
  background-color: rgba(192,192,192,0.5);
  -webkit-box-shadow: -7px -6px 38px #a8a8a8;
  width: 450px;
  padding: 50px;
  margin: 20px auto;
}

p {
  margin: 18px;
  font-size: 1,5vw;
}

.parallax-img {
  background-image: url(marvinmey.jpg);
}
.panel-wrapper {
  position: relative;
}

/*Show more > */

.btn {
  color: #00c4b1;
  border-radius: 1em;
  left: 30%;
  padding: 1em;
  text-decoration: none;
  width: 30%;
}
.show, .hide {
  position: absolute;
  bottom: -2em;
  z-index: 100;
  text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
   max-height: 2800px; 
}
.show:target ~ .fade {
  margin-top: 0;

}

.panel {
  position: relative;
  text-align: center;
  margin: 2em auto;
  width: 60%;
  max-height: 100px;
  overflow: hidden;
  transition: max-height .5s ease;
}
 /*Show more end*/

.side {
	position: absolute;
	bottom: -660px;
	max-width: 100%;
    left: 2%;
}

.info {
  position: absolute;
  text-align: center;
  margin: 1em auto;
  width: 40%;
  max-height: 100px;
  left: 580px;
  bottom: 180px;
}
.responsive {
  width: 100%;
  height: auto;
}

.button1{
  border: 1px ;
  background:#01b0a5;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  width: 10%;
  padding: 5px;
  transition: 0,3s;
  position: sticky;
  overflow: hidden;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1,2vw;
  
}
.button1:hover{
	background-color: rgba(0, 164, 177, 4);
}
.button1::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #01b0a5;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
